<h2>Tasks</h2>
<select (change)="onChange($event.target.value)">
  <option value="allTasks" selected="selected">All Tasks</option>
  <option value="suggestedTask">Suggested</option>
  <option value="notSuggestedTask">Not Suggested</option>
</select>
<ol>
  <li *ngFor="let task of childToDoList | suggest: filterBySuggest ">{{task.task}}
    <input *ngIf="task.suggest === true" type="checkbox" checked (click)="toggleSuggest(task, false)"/>
    <input *ngIf="task.suggested === false" type="checkbox" (click)="toggleSuggest(task, true)" />
    <button (click)="viewClicked(task)">View This Task</button> <button (click)="editClicked(task)">Edit This Task</button>

  </li>
</ol>
