/* You can add global styles to this file, and also import other style files */
body {
  background: url('https://ak6.picdn.net/shutterstock/videos/13107836/thumb/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width:


}

h1 {
  text-align: center;
  font-size: 60px;
}

h3 {
  text-align: center;
  color: white;

}
p {
  text-align: center;
  color: white;

}

h2 {
  text-align: center;
}

ol {
  text-align: center;
}

app-root {
  text-align: center;
}
select {
  text-align: center;
}
